@model Dictionary<string,TileCook.Layer>

@{
    ViewBag.Title = "TileCook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (KeyValuePair<string, TileCook.Layer> item in Model)
    {
        TileCook.Layer layer = item.Value;
        <li>
           @Html.ActionLink(layer.Name, "Preview", "Layers", new { id = layer.Name }, null)
        </li>
    }
</ul>



