@model IEnumerable<TileCook.Layer>

@{
    ViewBag.Title = "TileCook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (TileCook.Layer layer in Model)
    {
        <li>
           @Html.ActionLink(layer.Name, "Preview", "Layers", new { id = layer.Name }, null)
        </li>
    }
</ul>



