@model TileCook.Layer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Preview - @Model.name</title>

    <script type="text/javascript" src="@Url.Content("/Scripts/leaflet.js")"></script>
    <link href="@Url.Content("~/Content/leaflet/css/leaflet.css")" rel="stylesheet" type="text/css" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>

</head>
<body>
    <div id="map"style="width: 100%; height: 100%"></div>
    <script>
        var map = L.map('map').setView([0, 0], 0);
        L.tileLayer('/Services/WMTS/1.0.0/@Model.name/default/@Model.gridset.name/{z}/{y}/{x}.@Model.formats[0]').addTo(map);
    </script>
</body>
</html>
