<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Use ConfigDirectory to change configuration file directory to non-standard location
    <add key="ConfigDirectory" value=""/>
    -->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--Needed so managed wrappers can find native assemblies in \bin-->
    <hostingEnvironment shadowCopyBinAssemblies="false" />
  </system.web>
<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>