<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
</head>
<body>
<div>
    <pre>
 _____  _  _          ___               _    
/__   \(_)| |  ___   / __\ ___    ___  | | __
  / /\/| || | / _ \ / /   / _ \  / _ \ | |/ /
 / /   | || ||  __// /___| (_) || (_) ||   < 
 \/    |_||_| \___|\____/ \___/  \___/ |_|\_\
    </pre>
    <hr />
</div>
@RenderBody()
</body>
</html>
